
###> symfony/framework-bundle ###
Website/.env
Website/public/bundles/
Website/var/
Website/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
Website/node_modules/
Website/public/build/
Website/npm-debug.log
Website/yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
Website/.phpunit
Website/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
Website/.web-server-pid
###< symfony/web-server-bundle ###
