{% extends 'base.html.twig' %}

{% block title %}Basket index{% endblock %}

{% block body %}
    <h1>Basket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for basket in baskets %}
            <tr>
                <td>{{ basket.quantity }}</td>
                <td>
                    <a href="{{ path('basket_show', {'user_id': basket.user_id.getUsername}) }}">show</a>
                    <a href="{{ path('basket_edit', {'user_id': basket.user_id.getUsername}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('basket_new') }}">Create new</a>
{% endblock %}