<header id="enTete">
    <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

    <section id="navigation">
        <p id="btn">
            <a href="/signup"><button id="inscriptionHead">Inscription</button></a>
            <a href="/signin"><button id="connexionHead">Connexion</button></a>
            <a href="/user/signout/"><button id="connexionHead">Deconnexion</button></a>

        </p>

        <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

        <nav id="navBar">
            <ul id="ul">
                <li class="listeNav"><a href="/home" >Fil d'actualité</a></li>
                <li class="listeNav"><a href="/product/shop/" >Boutique</a></li>
                <li class="listeNav"><a href="/home" >Evènement</a></li>
                <li class="listeNav"><a href="/idea" >Boite à idée</a></li>
            </ul>
        </nav>
    </section>
</header>