<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Evènement</title>
    </head>

    <body>
        <header id="enTete">

            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">

                <p id="btn">
                    <button id="inscriptionHead">Inscription</button>
                    <button id="connexionHead">Connexion</button>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <section id="main">

            <section id="evenement">

                <section id="imgEvent">
                    <a id="nomEvent">{{ Event.Nom }}</a>
                    <img src="{{ Event.img }}" alt="imageEvent"/>
                </section>

                <section id="bouton">
                    <button id="ajouterImage">Ajouter image à l'album</button>
                    {% if modo == 1 and admin == 0 %}
                    <button id="Signal">Signaler</button>
                    {% endif %}
                </section>

                <section id="description">
                    <a>{{ Event.Description }}</a>
                </section>

                <section id="commentaire">
                    <button class="like">Like</button>
                    <a>{{ Event.Commentaire }}</a>
                </section>

            </section>

            <section id="aside">

                <section id="boiteIdée">
                    <a>Boite à Idées</a>
                </section>

                <section id="EventMois">
                    <a>Evènement du mois</a>
                </section>
            </section>
        </section>
        <footer>
            <p id="mail">Adresse mail: bde-toulouse@viacesi.fr</p>
            <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs">Facebook BDE</a>
        </footer>

    </body>

</html>