<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Ajouter Produit</title>
    </head>

    <body>
        <header id="enTete">

            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">

                <p id="btn">
                    <button id="inscriptionHead">Inscription</button>
                    <button id="connexionHead">Connexion</button>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <section id="base">

            <section id="milieu">
                <section id="titreAjoutProd">
                    Ajouter un produit
                </section>

                <section id="selectNomProd">
                    Nom produit :
                    <input id="nomProduit">
                </section>

                <section id="selectPrixProd">
                    Prix produit :
                    <input id="prixProd">
                </section>

                <section id="selectDescription">
                    Description :
                    <input id="descriptionProd">
                </section>

                <section id="selectImg">
                    Ajouter une image à votre produit :<br/>
                    "image"
                    <button id="parcFichiers">Parcourir mes fichiers</button>
                </section>

                <section id="selectCatégorie">
                    Catégorie associer :
                    <select>
                        <option value="choisirCatégorie">Choisir catégorie</option>
                        <option value="textile">Textile</option>
                        <option value="consommable">Consommable</option>
                        <option value="goodies">Goodies</option>
                        <option value="pull">Pull</option>
                        <option value="t-shirt">T-shirt</option>
                        <option value="sweater">Sweater</option>
                        <option value="nouvelle catégorie">Nouvelle catégorie</option>
                    </select>
                </section>

                <section id="choix">
                    <button>annuler</button>
                    <button>Ajouter article</button>
                </section>
            </section>

            <section id="aside">
                <section id="boiteIdée">
                    <a>Boite à Idées</a>
                </section>

                <section id="EventMois">
                    <a>Evènement du mois</a>
                </section>
            </section>

        </section>

        <footer>
            <p id="mail">Adresse mail: bde-toulouse@viacesi.fr</p>
            <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs">Facebook BDE</a>
        </footer>

    </body>

</html>