<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Ajouter Produit</title>
    </head>

    <body>
        <header id="enTete">
            <!-- Display of the BDE logo -->
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde toulouse"/>

            <section id="navigation">
                <!-- Creation of the connection section -->
                <p id="btn">
                    {% if user == null %}
                        <a href="pageInscription.html.twig"><button id="inscriptionHead">Inscription</button></a>
                        <a href="pageConnexion.html.twig"><button id="connexionHead">Connexion</button></a>
                    {% elseif user == {{ connected }} %}
                        <a href=""><button id="déconnexionHead">Déconnexion</button></a>
                    {% endif %}
                </p>

                <!-- Welcome message -->
                <p id="BVN">Bienvenue sur le site du BDE du Cesi</p>

                <!-- Creation of the navigation bar -->
                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <section class="container">
            <!-- Creation of the add a product fields  -->
            <section id="milieu">
                <article id="titreAjoutProd">
                    <h3>Ajouter un produit</h3>
                </article>

                <article id="selectNomProd">
                    Nom produit :
                    <input id="nomProduit">
                </article>

                <article id="selectPrixProd">
                    Prix produit :
                    <input id="prixProd">
                </article>

                <article id="selectDescription">
                    Description :
                    <input id="descriptionProd">
                </article>

                <article id="selectImg">
                    Ajouter une image à votre produit :<br/>
                    "image"
                    <button id="parcFichiers">Parcourir mes fichiers</button>
                </article>

                <!-- Creation of the category selection -->
                <article id="selectCatégorie">
                    Catégorie associer :
                    <select>
                        <option value="choisirCatégorie">Choisir catégorie</option>
                        <option value="textile">Textile</option>
                        <option value="consommable">Consommable</option>
                        <option value="goodies">Goodies</option>
                        <option value="pull">Pull</option>
                        <option value="t-shirt">T-shirt</option>
                        <option value="sweater">Sweater</option>
                        <option value="nouvelle catégorie">Nouvelle catégorie</option>
                    </select>
                </article>

                <article id="choix">
                    <a href="pageBoutique.html.twig"><button>Annuler</button></a>
                    <button>Ajouter article</button>
                </article>
            </section>
        </section>

        <footer>
            <!-- Creation of the contact us section -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :<br/>
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>
    </body>
</html>