<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Ajouter Produit</title>
    </head>

    <body>
        <header id="enTete">

            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">

                <p id="btn">
                    <a href="pageInscription.html.twig"><button id="inscriptionHead">Inscription</button></a>
                    <a href="pageConnexion.html.twig"><button id="connexionHead">Connexion</button></a>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <section class="container">

            <section id="milieu">
                <section id="titreAjoutProd">
                    <h3>Ajouter un produit</h3>
                </section>

                <section id="selectNomProd">
                    Nom produit :
                    <input id="nomProduit">
                </section>

                <section id="selectPrixProd">
                    Prix produit :
                    <input id="prixProd">
                </section>

                <section id="selectDescription">
                    Description :
                    <input id="descriptionProd">
                </section>

                <section id="selectImg">
                    Ajouter une image à votre produit :<br/>
                    "image"
                    <button id="parcFichiers">Parcourir mes fichiers</button>
                </section>

                <section id="selectCatégorie">
                    Catégorie associer :
                    <select>
                        <option value="choisirCatégorie">Choisir catégorie</option>
                        <option value="textile">Textile</option>
                        <option value="consommable">Consommable</option>
                        <option value="goodies">Goodies</option>
                        <option value="pull">Pull</option>
                        <option value="t-shirt">T-shirt</option>
                        <option value="sweater">Sweater</option>
                        <option value="nouvelle catégorie">Nouvelle catégorie</option>
                    </select>
                </section>

                <section id="choix">
                    <a href="pageBoutique.html.twig"><button>Annuler</button></a>
                    <button>Ajouter article</button>
                </section>
            </section>

            <section id="aside">
                <section id="boiteIdée">
                    <a>Boite à Idées</a>
                    {{ Idee.PlusVoter }}
                </section>

                <section id="EventMois">
                    <a>Evènement du mois</a>
                    {{ Event.Mois }}
                </section>
            </section>

        </section>

        <footer>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>

    </body>

</html>