<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Inscription</title>
    </head>

    <body>
        <header id="enTete">

            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">

                <p id="btn">
                    <button id="inscriptionHead">Inscription</button>
                    <button id="connexionHead">Connexion</button>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>
            <section id="inscription-connexion">
                <section id="Title">
                    <a>Inscription</a>
                </section>
                <section id="inscription">
                    <a id="Nom">Nom</a>
                    <input id="inNom"><br/>
                    <a id="Prénom">Prénom</a><br/>
                    <input id="inPrénom"><br/>
                    <a id="Email">Adresse mail</a><br/>
                    <input id="inEmail"><br/>
                    <a id="MDP">Mot de passe</a><br/>
                    <input id="inMDP"><br/>
                    <a id="confMDP">Mot de passe</a><br/>
                    <input id="inConfMdp"><br/>
                </section>
                <section class="confirmation">
                    <button id="btnInscription">Inscription</button>
                    <a id="linkConnexion" href="">Déjà inscrit?</a>
                </section>
            </section>
        <footer>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <hr />
                <article class="text-center center-block">
                    Nous contacter :
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
                <hr />
            </section>
        </footer>
    </body>

</html>