<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>Connexion</title>
    </head>

    <body>
        <header id="enTete">

            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">

                <p id="btn">
                    <button id="inscriptionHead">Inscription</button>
                    <button id="connexionHead">Connexion</button>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>
            <section id="inscription-connexion">
                <section id="Title">
                    <a>Connexion</a>
                </section>
                <section id="connexion">
                    <a id="nomUser">Nom d'utilisateur</a><br/>
                    <input id="inNomUser"><br/>
                    <a id="mdpUser">Mot de passe</a><br/>
                    <input id="inMDPUser"><br/>
                    <a id="oublieMDP" href="">Mot de passe oublié?</a>
                </section>
                <section id="confirmation">
                    <button id="btnInscription">Connexion</button>
                    <a id="linkInscription" href="">Pas encore inscrit?</a>
                </section>
            </section>
        <footer>
            <p id="mail">Adresse mail: bde-toulouse@viacesi.fr</p>
            <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs">Facebook BDE</a>
        </footer>
    </body>

</html>