<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <meta name="keywords" content="inscription,cesi,bde"/>
        <title>Inscription</title>
    </head>

    <body>
        <header id="enTete">
            <!-- Display of the BDE logo -->
            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde toulouse"/>

            <section id="navigation">
                <!-- Welcome message -->
                <p id="BVN">Bienvenue sur le site du BDE du Cesi</p>

                <!-- Creation of the navigation bar -->
                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>
            <section id="inscription-connexion">
                <article id="Title">
                    <a>Inscription</a>
                </article>
                <!-- Creation of the inscription fields-->
                <article id="inscription">
                    <a id="Nom">Nom</a>
                    <input id="inNom"><br/>
                    <a id="Prénom">Prénom</a>
                    <input id="inPrénom"><br/>
                    <a id="Email">Adresse mail</a>
                    <input id="inEmail"><br/>
                    <a id="MDP">Mot de passe</a>
                    <input id="inMDP"><br/>
                    <a id="confMDP">Confirmation mot de passe</a>
                    <input id="inConfMdp"><br/>
                </article>
                <article class="confirmation">
                    <!-- Button link to pageConnexion -->
                    <button id="btnInscription">Inscription</button>
                    <a id="linkConnexion" href="pageConnexion.html.twig">Déjà inscrit?</a>
                </article>
            </section>

        <footer>
            <!-- Creation of the contact us section -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="container">
                <article class="text-center center-block">
                    Nous contacter :<br/>
                    <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bdecesi_tls"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="mailto:bde-toulouse@viacesi.fr"><i class="fa fa-envelope-square fa-3x social"></i></a>
                </article>
            </section>
        </footer>
    </body>

</html>