<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
    </head>

    <body>
        <header id="enTete">

            <img id="img" src="https://pbs.twimg.com/profile_images/693744907127750656/W_byIUTt_400x400.png" alt="logo bde"/>

            <section id="navigation">

                <p id="btn">
                    <button id="inscriptionHead">Inscription</button>
                    <button id="connexionHead">Connexion</button>
                </p>

                <p id="BVN">Bienvenue sur le site du BDE du Cesi Toulouse</p>

                <nav id="navBar">
                    <ul id="ul">
                        <li class="listeNav"><a href="pageAccueil.html.twig" >Fil d'actualité</a></li>
                        <li class="listeNav"><a href="pageBoutique.html.twig" >Boutique</a></li>
                        <li class="listeNav"><a href="pageEvent.html.twig" >Evènement</a></li>
                        <li class="listeNav"><a href="pageBoiteIdée.html.twig" >Boite à idée</a></li>
                    </ul>
                </nav>
            </section>
        </header>
            <section id="main">

                <section class="evenement">

                    <section class="imgEvent">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLHDc_UjxkBOlQzFnF4CpcnsJjIvKhSZ3hB-Q7_0aOx1Iow2hC" alt="imageEvent"/>
                    </section>

                    <section class="bouton">
                        <a class="nomEvent">Nom évènement</a>
                        <button class="Signal">Signaler</button>
                    </section>

                    <section class="description">
                        <a>Description</a>
                    </section>

                    <section class="commentaire">
                        <button class="like">Like</button>
                        <a>Commentaire</a>
                    </section>

                </section>

                <section id="aside">

                    <section id="boiteIdée">
                        <a>Boite à Idées</a>
                    </section>

                    <section id="EventMois">
                        <a>Evènement du mois</a>
                    </section>
                </section>
            </section>

        <footer id="footer">
            <p id="mail">Adresse mail: bde-toulouse@viacesi.fr</p>
            <a href="https://www.facebook.com/bdecesitoulouse/?ref=br_rs">Facebook BDE</a>
        </footer>

    </body>

</html>