body{
    margin:0px;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.listeNav {
    float: left;
}

.listeNav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.listeNav a:hover {
    background-color: darkorange;
}

header{
    background-color: white;
}

footer{
    background-color: white;
}

/*css accueil*/

#enTete{
    display: flex;
}

#img:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#navigation:nth-child(2){
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#btn{
    display: flex;
    justify-content: flex-end;
}

#BVN{
    display: flex;
    justify-content: center;
    font-size: 20px
}

@media screen and (max-width: 700px){
    #main{
        display: block;
    }

    #aside{
        position:absolute;
        left: -999em;
    }

    #evenement{
        margin-left:0px;
    }

    #navBar{
        font-size: 11px;
    }
}

/* css pageAccueil && pageEventUnique*/

#main{
    display: flex;
    justify-content: space-between;
}

.evenement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
}

.imgEvent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bouton{
    display: block;
    flex-direction: row;
}

#aside{
    display: flex;
    flex-direction: column;
    margin-right: 1%
}

.nomEvent{
    display: flex;
    justify-content: center;
}

/* css pageBoiteIdée*/

#central{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#centre{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

#choix{
    display: flex;
    justify-content: center;
    align-items: center;
}

#liste{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    list-style-type: none
}

#upvote{
    display:flex;
    flex-direction: column;
    margin-left: 10%;
}

#creeEvent{
    display: flex;
    flex-direction: column;
}

#listeIdee{
    text-decoration: none;
}

#Titre{
    margin-left: 35%;
}

#soumettre{
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
}

#addIdea{
    border: solid;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20px;
    width:50%;
}

#titreAjoutIdee{
    display: flex;
    justify-content: center;
}

#idee{
    display: flex;
    justify-content: center;
}

#titreIdee{
    margin-left:10px;
}

#ajoutIdee{
    display: flex;
    margin-left: 45%;
    width:80px;
}

/*css pageBoutique */

#baseBoutique{
    display: flex;
    flex-direction: row;
}

#container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20%;
}

#dropbtn{
    width: fit-content;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 25%;
}

#Filtre{
    position: relative;
    display: inline-block;
}

#dropdown{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

#dropdown a{
    color: black;
    text-decoration: none;
    display: block;
}

#dropdown a:hover{
    background-color: darkorange;
}

#filtre:hover #dropdown{
    display: block;
}

#filtre:hover #dropbtn{
    background-color: darkorange;
}

#barre1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#btnPanier{
    width: fit-content;
    height: fit-content;
}

.prodCom{
    border: solid;
    display: block;
    width: 200px;
    height: 250px;
}

#prod{
    border: solid;
    display: block;
    width: 200px;
    height: 250px;
}

#barre2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#searchthis{
    display:flex;
    justify-content: center;
    margin-top: 5%;
}

#Prod, #prodPlusCommandé{
    display: flex;
    flex-direction: row;
}

#ajoutProd{

}

/*css Event*/

#center{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#Passe{
    display: flex;
    flex-direction: row;
}

.eventPasse{
    display: flex;
    flex-direction: column;
    border: solid;
    width: 200px;
    height: 250px;
}

.Nom{
    display: flex;
    padding-top: 20px;
}

#Futur{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.event{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    border: solid;
    margin-right: 10px;
}

#ajoutEvent{
    font-size: 20px;
    margin-left: 5px;
}

#barreAddEvent{
    display:flex;
}

/*css inscription*/

#inscription-connexion{
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    border:solid;
}

#Title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.required{
    margin-left: 10px;
    margin-bottom: 3px;
}

#link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%
}

/*css connexion*/

#connexion{
    margin-top: 5%;
    margin-left: 15%;
}

/*css panier*/

#Panier{
    border:solid;
    margin-top:5%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 7%;
}

#titrePanier{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#produitAcheté{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.produit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

#prixTotal{
    margin-bottom: 5px;
}

#choix{
    display: flex;
    justify-content: space-between;
}

/*css création event*/

#base{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

#coeur{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20%;
}

#TitreCréationEvent{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#paramEvent{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}

#imageEvent{
    display: flex;

}

#fichier{
    display: flex;
    margin-left: 10px;
}

#oui{
    margin-left: 10px;
}

/*css ajouterImage*/

#milieu{
    display: flex;
    flex-direction: column;
    margin-left:35%;
}

#titreAjoutImage{
    display: flex;
    justify-content: center;
}

#addCommentaireimage{
    margin-bottom: 10px;
}

#addImg{
    margin-bottom: 10px;
}

/*css nouveau produit*/

#titreAjoutProd{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#selectNomProd{
    margin-bottom: 10px;
}

#selectPrixProd{
    margin-bottom: 10px;
}

#selectDescription{
    margin-bottom: 10px;
}

#selectImg{
    margin-bottom: 10px;
}

#selectCatégorie{
    margin-bottom: 10px;
}